body {
	background: #55ACEE;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 50px;
	margin: 80px 20px;
	text-align: center;
}
.quote {
	font-size: 30px;
	margin: 20px 20px;
	text-align: center;
}
.author {
	font-size: 30px;
	margin: 20px 20px;
	text-align: center;
}
